/* Write your CSS here */

.movie-item-card {
  background-color: #000000;
}

.popup-content {
  background-color: #000000;
}

.thumbnail-img {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #000000;
}

.thumbnail-img {
  width: 215px;
  height: 150px;
  border-radius: 8px;
  background-color: #000000;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .thumbnail-img {
    width: 254px;
    height: 170px;
  }
}

.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  outline: none;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
}

.pop-up-card {
  height: 60vh;
  width: 60vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.close-card {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.close-bg {
  background-color: #ffffff;
  color: #616e7c;
  font-size: 30px;
  font-weight: 400;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 30px;
}

.movie-player-container {
  margin-top: 12px;
  margin-left: 48px;
  margin-bottom: 48px;
  margin-right: 48px;
  align-self: center;
}
