/* Write your CSS here */

.prime-video-card {
  min-height: 100vh;
  width: 100vw;
  background-color: #000000;
  font-family: Roboto;
}

.prime-video-img-card {
  width: 100%;
}
.prime-video-img {
  width: 100%;
  height: 170px;
}

.action-movies-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.action-movies-card-heading {
  color: #ffffff;
}

.slider-container {
  width: 95%;
  padding: 40px;
}
